body{
    background-color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    text-align: absolute;
    
}

.cantainer{
    text-align: center;
    
}
div.box {
    height: 300px;
    width: 300px;
    background-color: #bbbbaa;}
    p {
    height: 75%;
    width: 75%;
    background-color: #0088dd;
border-width: 2px;
float: left;
margin: 5px;
padding: 5px;
overflow: auto;
width: 100%;}
p.one {
    border-width: 2px;}
    p.two {
    border-width: thick;}
    p.three {
        border-width: 1px 4px 12px 4px;}
        
            p {
            width: 300px;
            padding: 50px;
            border: 20px solid #0088dd;
                float: left;
        }
            p.example {
            margin: 10px auto 10px auto;
            text-align: left;}